extends ../layout

block content
  .container.p-2
   
    form.border.p-3(method="post" accion="bicicletas/create")
      h1 Ingresar Bicicleta Nueva
      .form-group
         label(for='id') #ID
         input.form-control(type='text' name="id" placeholder='Ingresa el id')
      .form-group
         label(for='color') Color
         input.form-control(type='text' name="color" placeholder='Ingresa el color de la bicicleta')
      .form-group
         label(for='modelo') Modelo
         input.form-control(type='text' name="modelo" placeholder='Ingresa el modelo')
      .form-group
         label(for='lat') Latitud
         input.form-control(type='number' name="lat" placeholder='Ingresa la latitud')
      .form-group
         label(for='lgn') longitud
         input.form-control(type='number' name="log" placeholder='Ingresa la longitud')
      button.btn.btn-primary(type='submit') Enviar
